.circle-photo .rounded-circle {
    border-radius: 50%!important;
    height: 400px;
    width: 400px;
}

.testmoials{
    .owl-theme .owl-nav {
        position: absolute;
        left: -7%;
        top: 20%;
        width: 112%;
        display: flex;
        justify-content: space-between;
    }
    p{
        text-align: justify;
    }
}
@media screen and(max-width:768px) {
    .testmoials .owl-theme .owl-nav{
        display: none;
    }
}

